<% form_for @message do |f| %>
    <% if @message.errors.any? %>
        <ul>
          <% @message.errors.values.flatten.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>
    <p>
      <%= f.label "Twój email" %><br/>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label "Twoje imię" %><br/>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label "Twoja wiadomość" %><br/>
      <%= f.text_area :content %>
    </p>
    <%= show_simple_captcha(:label => "") unless current_user %>
    <p><%= f.submit "Wyślij" %></p>
<% end %>
<p><%= link_to "Wróć na stronę główną", root_path %></p>

