<h2>Edytuj <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label "Hasło" %> <i>(zostaw puiste jeśli nie chcesz zmieniać)</i><br />
  <%= f.password_field :password %></p>

  <p><%= f.label "Potwierdź hasło" %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label "Obecne hasło" %> <i>(potrzebujemy Twojego obecnego hasła by potwierdzić zmiany)</i><br />
  <%= f.password_field :current_password %></p>

  <p><%= f.submit "Uaktualnij" %></p>
<% end %>

<h3>Usuń moje konto</h3>

<p>Niezadowolony? <%= link_to "Usuń moje konto", registration_path(resource_name), :confirm => "Napewno?", :method => :delete %>.</p>

<%= link_to "Cofnij", :back %>
