<h2>Edytuj <%= resource_name.to_s.humanize %></h2>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
          <%= devise_error_messages! %>
          <fieldset>
            <label><%= f.label :email %></label>
            <%= f.email_field :email %>
            <br/>
            <label><%= f.label "Hasło" %></label><span class="help-block">(zostaw puiste jeśli nie chcesz zmieniać)</span>
            <%= f.password_field :password %>
            <br/>
            <label><%= f.label "Potwierdź hasło" %></label>
            <%= f.password_field :password_confirmation %>
            <br/>
            <label><%= f.label "Obecne hasło" %></label><span class="help-block">(potrzebujemy Twojego obecnego hasła by potwierdzić zmiany)</span>
            <%= f.password_field :current_password %>
            <br/>
            <%= f.submit "Uaktualnij", :class => "btn btn-primary" %>
          </fieldset>
      <% end %>
    </div>
    <div class="span6">
      <h3>Usuń moje konto</h3>

      Niezadowolony? <%= link_to "Usuń moje konto", registration_path(resource_name), :confirm => "Napewno?", :method => :delete, :class => 'btn btn-danger' %>
      <br/>
      <%= link_to "Cofnij", :back, :class => 'btn' %>
    </div>
  </div>
</div>