<TR>
<TD>
  <TABLE BORDER="0" WIDTH="100%">
    <TR>
      <TD>

        <TABLE WIDTH="400" CELLPADDING=4 CELLSPACING=0 class="fltl">
          <TR VALIGN=TOP>
            <TD COLSPAN=2 WIDTH=18% class="black alantar_td">
              <P class="fs_14 white_normal">Parametry Główne</P>
            </TD>
            <TD COLSPAN=3 WIDTH=20% class="black alantar_td">
              <P class="fs_14 white_normal">Wartość Cechy</P>
            </TD>
            <TD COLSPAN=2 WIDTH=12% class="black alantar_td">
              <P class="fs_14 white_normal">Premia/Kara</P>
            </TD>
          </TR>
          <TR VALIGN=TOP>
            <TD COLSPAN=2 WIDTH=18% class="grey alantar_td">
              <P class="fs_14 normal">SIŁA</P>
            </TD>
            <TD COLSPAN=3 WIDTH=20% class="alantar_td" id="main_table_value_strength">
              <P class="fs_14 normal"><%= @character.statistics.calculate_s %><BR>
              </P>
            </TD>
            <TD COLSPAN=2 WIDTH=12% class="alantar_td" id="main_table_bonus_strength">
              <P class="fs_14 normal"><%= "#{Statistics::BONUS_OR_PENALTY_RANGES[@character.statistics.calculate_s]}" %>
                <BR>
              </P>
            </TD>
          </TR>
          <TR VALIGN=TOP>
            <TD COLSPAN=2 WIDTH=18% class="grey alantar_td">
              <P class="fs_14 normal">ZRĘCZNOŚĆ</P>
            </TD>
            <TD COLSPAN=3 WIDTH=20% class="alantar_td" id="main_table_value_dexterity">
              <P class="fs_14 normal"><%= @character.statistics.calculate_zr %><BR>
              </P>
            </TD>
            <TD COLSPAN=2 WIDTH=12% class="alantar_td" id="main_table_bonus_dexterity">
              <P class="fs_14 normal"><%= "#{Statistics::BONUS_OR_PENALTY_RANGES[@character.statistics.calculate_zr]}" %>
                <BR>
              </P>
            </TD>
          </TR>
          <TR VALIGN=TOP>
            <TD COLSPAN=2 WIDTH=18% class="grey alantar_td">
              <P class="fs_14 normal">WYTRZYMAŁOŚĆ</P>
            </TD>
            <TD COLSPAN=3 WIDTH=20% class="alantar_td" id="main_table_value_endurance">
              <P class="fs_14 normal"><%= @character.statistics.calculate_wt %><BR>
              </P>
            </TD>
            <TD COLSPAN=2 WIDTH=12% class="alantar_td" id="main_table_bonus_endurance">
              <P class="fs_14 normal"><%= "#{Statistics::BONUS_OR_PENALTY_RANGES[@character.statistics.calculate_wt]}" %>
                <BR>
              </P>

          </TR>
          <TR VALIGN=TOP>
            <TD COLSPAN=2 WIDTH=18% class="grey alantar_td">
              <P class="fs_14 normal">INTELIGENCJA</P>
            </TD>
            <TD COLSPAN=3 WIDTH=20% class="alantar_td" id="main_table_value_intelligence">
              <P class="fs_14 normal"><%= @character.statistics.calculate_int %><BR>
              </P>
            </TD>
            <TD COLSPAN=2 WIDTH=12% class="alantar_td" id="main_table_bonus_intelligence">
              <P class="fs_14 normal"><%= "#{Statistics::BONUS_OR_PENALTY_RANGES[@character.statistics.calculate_int]}" %>
                <BR>
              </P>
            </TD>
          </TR>
          <TR VALIGN=TOP>
            <TD COLSPAN=2 WIDTH=18% class="grey alantar_td">
              <P class="fs_14 normal">WIARA</P>
            </TD>
            <TD COLSPAN=3 WIDTH=20% class="alantar_td" id="main_table_value_faith">
              <P class="fs_14 normal"><%= @character.statistics.calculate_wi %><BR>
              </P>
            </TD>
            <TD COLSPAN=2 WIDTH=12% class="alantar_td" id="main_table_bonus_faith">
              <P class="fs_14 normal"><%= "#{Statistics::BONUS_OR_PENALTY_RANGES[@character.statistics.calculate_wi]}" %>
                <BR>
              </P>
            </TD>
          </TR>
          <TR VALIGN=TOP>
            <TD COLSPAN=2 WIDTH=18% class="grey alantar_td">
              <P class="fs_14 normal">OGŁADA</P>
            </TD>
            <TD COLSPAN=3 WIDTH=20% class="alantar_td" id="main_table_value_polish">
              <P class="fs_14 normal"><%= @character.statistics.calculate_o %><BR>
              </P>
            </TD>
            <TD COLSPAN=2 WIDTH=12% class="alantar_td" id="main_table_bonus_polish">
              <P class="fs_14 normal"><%= "#{Statistics::BONUS_OR_PENALTY_RANGES[@character.statistics.calculate_o]}" %>
                <BR>
              </P>
            </TD>
          </TR>
          <TR VALIGN=TOP>
          </TR>
          <TR VALIGN=TOP>
          </TR>
        </TABLE>


      </TD>
    </TR>
  </TABLE>
</TD>
<TD>
  <TABLE BORDER="0">
    <TR>
      <TD>

        <TABLE WIDTH="400" CELLPADDING=0 CELLSPACING=0 class="fltl">
          <TR VALIGN=TOP>
            <TD WIDTH=30% class="black alantar_td">
              <P class="fs_14 white_normal">Kasta</P>
            </TD>
            <TD colspan="2" WIDTH=70% class="black alantar_td">
              <P class="fs_14 white_normal"><%= display_character_sheet_name(@character) %></P>
            </TD>
          </TR>

          <TR VALIGN=TOP>
            <TD WIDTH=30% class="grey alantar_td">
              <P class="fs_14 normal">Profesja</P>
            </TD>
            <TD colspan="2" WIDTH=70% class="alantar_td">
              <P class="fs_14 normal"><%= @character.profession.name %><BR>
              </P>
            </TD>
          </TR>

          <TR VALIGN=TOP>
            <TD WIDTH=30% class="grey character_sheet_td">
              <P class="fs_14 normal">Klasa Społeczna</P>
            </TD>
            <TD colspan="2" WIDTH=70% class="character_sheet_td">
              <P class="fs_14 normal"><%= @character.social_class.name %><BR>
              </P>
            </TD>
          </TR>
          <TR VALIGN=TOP>
            <TD WIDTH=30% class="grey character_sheet_td">
              <P class="fs_14 normal">Imię Postaci</P>
            </TD>
            <TD colspan="2" WIDTH=70% class="character_sheet_td">
              <P class="fs_14 normal"><%= @character.name %><BR>
              </P>
            </TD>
          </TR>
          <TR VALIGN=TOP>
            <TD WIDTH=30% class="grey alantar_td">
              <P class="fs_14 normal">Kraj pochodzenia</P>
            </TD>
            <TD colspan="2" WIDTH=70% class="alantar_td">
              <P class="fs_14 normal"><%= @character.character_background.origin %><BR>
              </P>
            </TD>
          </TR>
          <TR VALIGN=TOP>
            <TD WIDTH=30% class="grey alantar_td">
              <P class="fs_14 normal">Charakter</P>
            </TD>
            <TD colspan="2" WIDTH=70% class="alantar_td">
              <P class="fs_14 normal"><BR>
              </P>
            </TD>
          </TR>
          <TR VALIGN=TOP>
            <TD WIDTH=30% class="grey alantar_td">
              <P class="fs_14 normal">Religia</P>
            </TD>
            <TD colspan="2" WIDTH=70% class="alantar_td">
              <P class="fs_14 normal"><%= @character.character_background.deity %><BR>
              </P>
            </TD>
          </TR>
          <TR VALIGN=TOP>
            <TD WIDTH=30% class="grey alantar_td">
              <P class="fs_14 normal">Dar / Klątwa</P>
            </TD>
            <TD colspan="2" WIDTH=70% class="alantar_td">
              <P class="fs_14 normal"><%= @character.character_background.traits.first.try(:name) %><BR>
              </P>
            </TD>
          </TR>
          <TR VALIGN=TOP>
            <TD WIDTH=30% class="grey alantar_td">
              <P class="fs_14 normal">Poziom / P.D</P>
            </TD>
            <TD WIDTH=30% class="alantar_td">
              <P class="fs_14 normal">1<BR>
              </P>
            </TD>
            <TD WIDTH=30% class="alantar_td">
              <P class="fs_14 normal"><BR>
              </P>
            </TD>
          </TR>

        </TABLE>


      </TD>
    </TR>
  </TABLE>
</TD>
</TR>