<table id="character_armors" WIDTH=60%>
  <thead>
  <th class="black alantar_td"><P class="white_normal">Broń do Walki Wręcz / Miotana</p></th>
  <th class="black alantar_td"><P class="white_normal">Typ</p></th>
  <th class="black alantar_td"><P class="white_normal">Tempo</p></th>
  <th class="black alantar_td"><P class="white_normal">Obrażenia</p></th>
  <th class="black alantar_td"><P class="white_normal">Zasady</p></th>
  <th class="black alantar_td"><P class="white_normal">Specjalne</p></th>
  <th class="black alantar_td"><P class="white_normal">Atak Broni</p></th>
  <th class="black alantar_td"><P class="white_normal">Fechtunek w Ataku</p></th>
  <th class="black alantar_td"><P class="white_normal">Premia z (S+ZR)/2</p></th>
  <th class="black alantar_td"><P class="white_normal">Trafienie</p></th>
  </thead>
  <tbody>
  <% @character.weapons.each do |item| %>
      <tr>
       <td class="alantar_td"><%= item.name %></td>
       <td class="alantar_td"><%= item.weapon_type %></td>
       <td class="alantar_td"><%= item.total_speed %></td>
       <td class="alantar_td"><%= item.total_damage %></td>
       <td class="alantar_td"><%= item.special_rules %></td>
       <td class="alantar_td"><%= item.total_attack %></td>
       <td class="alantar_td">TODO</td>
       <td class="alantar_td">TODO</td>
       <td class="alantar_td">TODO</td>
       </tr>
  <% end %>
  </tbody>
</table>