<h2>Wybierz tarczę:</h2>

<%= form_tag(add_item_to_inventory_character_wizard_path, :remote => true) do %>
    <label>Wybierz grupę tarcz: </label><%= select_tag 'shield_group', options_for_select(@wizard.instance_variable_get("@shield_groups")) %><br/>

    <div id="shields">
      <%= render :partial => "character_wizards/armament_stuff/shields", :locals => {:shields => @wizard.instance_variable_get("@shields")} %>
    </div>
    <%= hidden_field_tag :char_id, @wizard.character.id %>
    <%= hidden_field_tag :item_type, "Shield" %>
    <%= submit_tag "Kup!" %>
<% end %>

<div id="shields_owned">
  <p>Posiadane tarcze:</p>
  <table id="character_shields" WIDTH=60%>
    <thead>
    <th>Nazwa</th>
    <th>Ustaw jako główna tarczę</th>
    <th>Zmniejszenie ograniczenia Zręczności o 2pkt</th>
    <th>Zwiększenie limitu Zręczności  o 3pkt</th>
    <th>Zwiększenie Obrony Tarczy o +1pkt</th>
    <th>Usuń z inwentarza</th>
    </thead>
    <tbody>
    <% @character.character_shields.each do |item| %>
        <tr id=<%= item.id %>>
          <td class="alantar_td"><p class="normal"><%= item.shield.name -%></p></td>
          <td class="alantar_td"><p class="normal set_shield" id=<%= "set_shield_#{item.id}" %>><%= set_shield_as_main(@character, item)  %></p></td>
          <td class="alantar_td"><p class="normal" id=<%= "#{item.class.name.tableize}_#{item.id}_dexterity_nerf" %>><%= item_upgrade_link(@character, item.resource, item, "dexterity_nerf") -%></p></td>
          <td class="alantar_td"><p class="normal" id=<%= "#{item.class.name.tableize}_#{item.id}_dexterity_cap" %>><%= item_upgrade_link(@character, item.resource, item, "dexterity_cap") -%></p></td>
          <td class="alantar_td"><p class="normal" id=<%= "#{item.class.name.tableize}_#{item.id}_defense_bonus" %>><%= item_upgrade_link(@character, item.resource, item, "defense_bonus") -%></p></td>
          <td class="alantar_td"><p class="normal"><%= link_to image_tag('delete.png'), character_wizards_remove_item_from_inventory_path(:char_id => @character.id, :item_type => item.resource.class.name, :inventory_item => item.resource.id, :delete_id => item.id ), :remote => true %></p></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

