<h2>Wybierz broń dystansową:</h2>

<%= form_tag(character_wizards_add_item_to_inventory_path, :remote => true) do %>
    <label>Wybierz grupę broni: </label><%= select_tag 'ranged_weapon_group', options_for_select(@wizard.instance_variable_get("@ranged_weapon_groups")) %><br/>

    <div id="ranged_weapons">
      <%= render :partial => "character_wizards/armament_stuff/ranged_weapons", :locals => {:ranged_weapons => @wizard.instance_variable_get("@ranged_weapons")} %>
    </div>
    <%= hidden_field_tag :char_id, @wizard.character.id %>
    <%= hidden_field_tag :item_type, "RangedWeapon" %>
    <%= submit_tag "Kup!" %>
<% end %>

<div id="ranged_weapons_owned">
  <p>Posiadane bronie dystansowe:</p>
  <table id="character_ranged_weapons" WIDTH=60%>
    <thead>
    <th>Nazwa</th>
    <th>Zmniejszenie Tempa strzału: Łuków o 1pkt.</th>
    <th>Zwiększenie Obrażeń Kusz o +2pkt lub Łuków o +1pkt.</th>
    <th>Zwiększenie Celności o +1pkt.</th>
    <th>Zwiększenie zasięgu Średniego i Długiego o +25m.</th>
    <th>Usuń z inwentarza</th>
    </thead>
    <tbody>
    <% @wizard.character.character_ranged_weapons.each do |item| %>
        <tr id=<%= item.id %>>
          <td class="alantar_td"><p class="normal"><%= item.ranged_weapon.name -%></p></td>
          <td class="alantar_td"><p class="normal" id=<%= "#{item.class.name.tableize}_#{item.id}_speed" %>><%= item_upgrade_link(@wizard.character, item.resource, item, "speed") -%></p></td>
          <td class="alantar_td"><p class="normal" id=<%= "#{item.class.name.tableize}_#{item.id}_damage" %>><%=  item_upgrade_link(@wizard.character, item.resource, item, "damage") -%></p></td>
          <td class="alantar_td"><p class="normal" id=<%= "#{item.class.name.tableize}_#{item.id}_attack_bonus" %>><%=  item_upgrade_link(@wizard.character, item.resource, item, "attack_bonus") -%></p></td>
          <td class="alantar_td"><p class="normal" id=<%= "#{item.class.name.tableize}_#{item.id}_range" %>><%=  ranged_weapon_speed_upgrade_link(@wizard.character, item.resource, item, "range") -%></p></td>
          <td class="alantar_td"><p class="normal"><%= link_to image_tag('delete.png'), character_wizards_remove_item_from_inventory_path(:char_id => @wizard.character.id, :item_type => "RangedWeapon", :inventory_item => item.resource.id, :delete_id => item.id ), :remote => true %></p></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>