<h2>Zmień hasło</h2>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put}) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>
          <fieldset>
            <label><%= f.label "Nowe hasło" %></label>
            <%= f.password_field :password %>
            <br/>
            <label><%= f.label "Potwierdź nowe hasło" %></label>
            <%= f.password_field :password_confirmation %>
            <br/>
            <%= f.submit "Zmień hasło", :class => "btn btn-primary" %>
          </fieldset>
      <% end %>
    </div>
    <div class="span6">
      <%= render :partial => "devise/shared/links" %>
    </div>
  </div>
</div>