<h2>Zapomniałeś hasła?</h2>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
          <%= devise_error_messages! %>
          <fieldset>
            <label><%= f.label :email %></label>
            <%= f.email_field :email %>
            <br />
            <%= f.submit "Wyślij mi email z linkiem do zresetowania hasła", :class => "btn btn-primary" %>
          </fieldset>
      <% end %>
    </div>
    <div class="span6">
      <%= render :partial => "devise/shared/links" %>
    </div>
  </div>
</div>