%legend Przykładowe karty postaci:
.container-fluid
  .row-fluid
    %table.table.table-striped.table-bordered
      %tr
        %th Imię postaci
        %th Klasa
        %th Płeć
        %th Akcje
      - @characters.each do |character|
        %tr
          %td
            = image_tag(character.avatar_url(:thumb)) if character.avatar?
            = character.name
          %td= character.profession.name
          %td= character.gender
          %td= link_to 'Wyświetl kartę postaci', home_example_character_show_path(:id => character), :class => "btn btn-small btn-primary"
