<%= form_for @character, :html => {:multipart => true} do |f| %>
    <% if @character.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

          <ul>
            <% @character.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <h3>Avatar</h3>
    <p>
      <label>My Avatar</label>
      <%= image_tag(@character.avatar_url(:regular)) if @character.avatar? %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    </p>

    <h3>General info</h3><p>
  <%= f.label :name %>
  <%= f.text_field :name %><br/>
  <%= f.label :description %>
  <%= f.text_area :description %><br/>
  <%= f.label :gender %>
  <%= f.select :gender, options_for_select(["Male", 'Female'], @character.gender) %><br/>
   <br/>
</p>

    <div id="stats">
    </div>
    <br/><br/>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<script>
//      Math.RandomInteger = function(n, m) {
//        if (! m) {m = 1;} // default range starts at 1
//        var max = n > m ? n : m; // doesn't matter which value is min or max
//        var min = n === max ? m : n; // min is value that is not max
//        var d = max - min + 1; // distribution range
//        return Math.floor(Math.random() * d + min);
//    };
//
//    randomize_stats = function() {
//        var fields = $('#stats input')
//        fields.each(function(i) {
//            $(fields[i]).val(Math.RandomInteger(3, 18));
//        });
//
//    }
</script>