<%= form_for @character, :html => {:multipart => true} do |f| %>
    <% if @character.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

          <ul>
            <% @character.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <!--<h3>Avatar</h3>-->
    <!--<p>-->
    <!--<label>Mój Avatar</label>-->
    <!--<#%= image_tag(@character.avatar_url(:regular)) if @character.avatar? %>-->
    <!--<#%= f.file_field :avatar %>-->
    <!--<#%= f.hidden_field :avatar_cache %>-->
    <!--</p>-->

    <h3>Informacje ogólne</h3><p>
  <%= f.label "Imię" %>
  <%= f.text_field :name %><br/>
  <!--<#%= f.label "Opis" %>-->
  <!--<#%= f.text_area :description, :cols => 60, :rows => 3 %><br/>-->
  <%= f.label "Płeć" %>
  <%= f.select :gender, options_for_select(["Mężczyzna", 'Kobieta'], @character.gender) %><br/><br/>
  <%= f.label "Gram hardcorowo - wylosuj dla mnie pochodzenie." %>
  <%= f.check_box :hardcore_social_class_picking %><br/><br/>
  <%= f.label "Gram hardcorowo - niech komputer rzuci za mnie na klątwę lub dar." %>
  <%= f.check_box :hardcore_trait_picking %><br/><br/>
  <%= f.label "Kreator pomoże mi w wyborze bóstwa" %>
  <%= f.check_box :easy_deity_picking, :default => true %><br/><br/>

    <h3>Wybierz bóstwo</h3>
    <%= f.fields_for :character_background_attributes do |cb| %>
        <%= cb.select :deity_id, @deities.collect { |p| [p.name, p.id] } %><br/>
        <p>Uwaga: wybór bóstwa jest jednym z najważniejszych wyborów podejmowanych przez gracza w systemie Alantar. Polecamy zaznaczyć opcję "Kreator pomoże mi w wyborze bóstwa" oraz przeczytać odpowiedni dział podręcznika.</p>
    <% end %>

    <br/>

    </p>

    <div id="stats">
    </div>
    <br/><br/>

    <div class="actions">
      <%= button_link_to "Dalej", "javascript:void(0)", :class => "button fltr", :onclick => "submit_form()" %>
    </div>
<% end %>
<br/>
<%= button_link_to "Wróć do indeksu", characters_path %>
<script type="text/javascript">

    function submit_form() {
        $("form").submit();
    }
    //      Math.RandomInteger = function(n, m) {
    //        if (! m) {m = 1;} // default range starts at 1
    //        var max = n > m ? n : m; // doesn't matter which value is min or max
    //        var min = n === max ? m : n; // min is value that is not max
    //        var d = max - min + 1; // distribution range
    //        return Math.floor(Math.random() * d + min);
    //    };
    //
    //    randomize_stats = function() {
    //        var fields = $('#stats input')
    //        fields.each(function(i) {
    //            $(fields[i]).val(Math.RandomInteger(3, 18));
    //        });
    //
    //    }
</script>