<%= simple_form_for @character, :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors @character %>

    <legend>Informacje ogólne</legend>

    <%= f.input :name, :input_html => {:class => "span6"},
                :label => "Imię" %>
    <%= f.input :gender, :collection => ["Mężczyzna", 'Kobieta'],
                :label => "Płeć", :include_blank => false %>

    <%= f.input :hardcore_social_class_picking, :as => :boolean, :label => "Gram hardcorowo - wylosuj dla mnie pochodzenie." %>
    <%= f.input :hardcore_trait_picking, :as => :boolean, :label => "Gram hardcorowo - niech komputer rzuci za mnie na klątwę lub dar." %>
    <%= f.input :easy_deity_picking, :as => :boolean, :label => "Kreator pomoże mi w wyborze bóstwa.", :hint => 'Uwaga: wybór bóstwa jest jednym z najważniejszych wyborów podejmowanych przez gracza w systemie Alantar. Polecamy
      zostawić tą opcję zaznaczoną oraz przeczytać odpowiedni dział podręcznika.' %>
<% end %>

<div class="row">
  <div class="span2"><%= link_to "Wróć do indeksu", characters_path, :class => "btn" %></div>
  <div class="span1 offset8"><%= link_to "Dalej", "javascript:void(0)", :class => "btn", :onclick => "submit_form()" %></div>
</div>



<script type="text/javascript">

    function submit_form() {
        $("form").submit();
    }
</script>
