<h1>Listing characters</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= paginate @characters %><br/>
<% @characters.each do |character| %>
  <tr>
    <td><%= image_tag(character.avatar_url(:thumb)) if character.avatar? %> <%= character.name %></td>
    <td><%= link_to 'Show', character %></td>
    <td><%= link_to 'Edit', edit_character_path(character) %></td>
    <td><%= link_to 'Destroy', character, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to image_tag("printer.png"), print_character_path(character) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Character', new_character_path %> <%= link_to 'Back to Home', root_path %>
