<h1>Lista postaci</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @characters.each do |character| %>
  <tr>
    <td><%= image_tag(character.avatar_url(:thumb)) if character.avatar? %> <%= character.name %></td>
    <td><%= link_to 'Pokaż', character %></td>
    <td><%= link_to 'Usuń', character_path(character), :confirm => 'Napewno?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowa Postać', new_character_path %> <%= link_to 'Wróć do indeksu', root_path %>
