<legend>Lista postaci</legend>

<table class="table-striped table-bordered">
  <tr>
    <th>Imię postaci</th>
    <th>Wyświetl kartę postaci</th>
    <th>Usuń postać</th>
  </tr>

  <% @characters.each do |character| %>
      <tr>
        <td><%= image_tag(character.avatar_url(:thumb)) if character.avatar? %> <%= character.name %></td>
        <td><%= link_to 'Pokaż', character, :class => "btn btn-small btn-primary" %></td>
        <td><%= link_to 'Usuń', character_path(character), :confirm => 'Napewno?', :method => :delete, :class => "btn btn-small btn-danger" %></td>
      </tr>
  <% end %>
</table>

<br/>

<div class="row">

  <div class="span4">
    <%= link_to 'Powrót do strony głównej', root_path, :class => "btn" %>
  </div>

  <div class="span2 offset4">
    <%= link_to 'Nowa Postać', new_character_path, :class => "btn" %>
  </div>

</div>
