<table class="table table-bordered">
  <caption>Parametry Główne</caption>
  <thead>
  <tr>
    <th>Parametry Główne</th>
    <th>Wartość Cechy</th>
    <th>Premia/Kara</th>
  </tr>
  </thead>
  <tbody>
  <% ["S", "ZR", "WT", "INT", "WI", "O"].each do |stat| %>
      <tr>
        <td><%= Statistics::POLISH_NAMES[stat] %></td>
        <td id="main_table_value_<%= Statistics::ENGLISH_NAMES_MAP[stat]-%>"><%=  @wizard.instance_variable_get("@#{Statistics::ENGLISH_NAMES_MAP[stat]}") %></td>
        <td id="main_table_bonus_<%= Statistics::ENGLISH_NAMES_MAP[stat]-%>"><%= "#{Statistics::BONUS_OR_PENALTY_RANGES[@wizard.instance_variable_get("@#{Statistics::ENGLISH_NAMES_MAP[stat]}")]}" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

