%table.table.table-bordered
  %caption Parametry Główne
  %thead
    %tr
      %th Parametry Główne
      %th Wartość Cechy
      %th Premia/Kara
  %tbody
    - ["S", "ZR", "WT", "INT", "WI", "O"].each do |stat|
      %tr
        %td= Statistics::POLISH_NAMES_MAP[stat]
        %td{:id => "main_table_value_#{Statistics::ENGLISH_NAMES_MAP[stat]}"}= @wizard.instance_variable_get("@#{Statistics::ENGLISH_NAMES_MAP[stat]}")
        %td{:id => "main_table_bonus_#{Statistics::ENGLISH_NAMES_MAP[stat]}"}= "#{Statistics::BONUS_OR_PENALTY_RANGES_MAP[@wizard.instance_variable_get("@#{Statistics::ENGLISH_NAMES_MAP[stat]}")]}"
