<p class="fs_16" id="skill_counter">Określ proszę, w jakich broniach będziesz biegły. Liczba wolnych
  biegłości: <%= session[:weapon_class_preference_left] %></p>
<br/><br/>

<% @weapon_groups.each do |weapon_group| %>
    <%= check_box_tag "weapon_proficiency", weapon_group, @character.character_weapon_proficiencies.detect { |wp| wp.name==weapon_group }, :onclick => "append_to_form_and_submit($(\"input[name='weapon_proficiency']\").filter(\"input[value='#{weapon_group}']\"))" %>
    <label><%= weapon_group %></label>
<% end %>

<% if @character.any_unfinished_matters_present? %>
    <br/><br/>
    <p class="fs_16">Ponadto musisz doprecyzować swoje wybory jeśli chodzi o drzewo umiejętności.</p>
    <%  @character.skill_choices_to_be_precised.each do |choice_subject| %>
        <%= form_tag(:remote=> true) do %>
         <%= present_choice_subject(choice_subject) %>
         <%= hidden_field_tag :id, choice_subject.id %>
         <%= hidden_field_tag :char_id, @character.id %>
         <%= submit_tag "Zaakceptuj wybór" %>
        <% end %>
    <% end %>
<% end %>

<script type="text/javascript">
    function append_to_form_and_submit(checkbox) {
        var url = '<%= character_wizards_toggle_weapon_proficiency_path -%>';
        var data = {'name':checkbox.val(), 'value':checkbox.is(':checked'), 'char_id':'<%= @character.id -%>' };
        $.ajax({
            url:url,
            data:data,
            dataType:'script'
        });
    }
</script>
