<p class="fs_16" id="skill_counter">Określ proszę, w jakich broniach będziesz biegły. Liczba wolnych
  biegłości: <%= session[:weapon_class_preference_left] %></p>
<br/><br/>

<% @weapon_groups.each do |weapon_group| %>
    <%= check_box_tag "weapon_proficiency", weapon_group, @character.character_weapon_proficiencies.detect { |wp| wp.name==weapon_group }, :onclick => "append_to_form_and_submit($(\"input[name='weapon_proficiency']\").filter(\"input[value='#{weapon_group}']\"))" %>
    <label><%= weapon_group %></label>
<% end %>

<% if @character.skill_choices_to_be_precised.present? %>
    <br/><br/>
    <p class="fs_16">Ponadto musisz doprecyzować swoje wybory jeśli chodzi o drzewo umiejętności.</p>
    <% @character.skill_choices_to_be_precised.each do |choice_subject| %>
        <div id="choice_no_<%= choice_subject.id %>">
          <%= form_tag(character_wizards_set_skill_preference_path, :remote => true) do %>
              <%= present_choice_subject(choice_subject) %>
              <%= hidden_field_tag :id, choice_subject.id %>
              <%= hidden_field_tag :char_id, @character.id %>
              <%= submit_tag "Zaakceptuj wybór" %>
          <% end %>
        </div>
        <br/>
    <% end %>
<% end %>
<br/><br/><br/>
<%= button_link_to "Wróć", fourth_step_character_wizard_path(:char_id => @character.id) %>
<%= button_link_to "Utwórz nową postać", character_path(@character), :confirm => 'Napewno?', :method => :delete, :class => "fltl position_left_60" %>
<%= button_link_to "Dalej", after_skills_step_character_wizard_path(:char_id => @character.id), :method => :post %>


<script type="text/javascript">
    function append_to_form_and_submit(checkbox) {
        var url = '<%= character_wizards_toggle_weapon_proficiency_path -%>';
        var data = {'name':checkbox.val(), 'value':checkbox.is(':checked'), 'char_id':'<%= @character.id -%>' };
        $.ajax({
            url:url,
            data:data,
            dataType:'script'
        });
    }
</script>
