#char_id{'data-char-id' => @wizard.character.id}
.container-fluid
  .row-fluid
    .span8
      %legend
        Tworząc postać, otrzymujesz swoisty rabat na zakup wyposażenia, w wysokości
        = succeed "." do
          %strong 50 złotych monet
        Sama
        kwota zakupów nie może przekroczyć zawartości Twojej sakiewki
        (#{humanize_purse_content(@wizard.character.purse.current)}) powiększonej o wspomniany bonus.
      %p Posiadasz biegłości w następujacych grupach broni:
      %ul
        - @wizard.character.character_weapon_proficiencies.each do |c_w_p|
          %li= c_w_p.name
    .span4
      %div
        = image_tag "sakiewka.gif", width: "130"
        = succeed "Tyle" do
          %p#purse.fs_16= humanize_purse_content(@wizard.character.session[:coins_left])
        możesz
        maksymalnie wydać ;)
    .row-fluid
      = render partial: "character_wizards/armament_stuff/picking_weapons_stuff"
    .row-fluid
      = render partial: "character_wizards/armament_stuff/picking_armors_stuff"
    .row-fluid
      = render partial: "character_wizards/armament_stuff/picking_shields_stuff"
    .row-fluid
      = render partial: "character_wizards/armament_stuff/picking_ranged_weapons_stuff"
.row
  .span1= link_to t('common.go_back'), character_wizard_path(char_id: @wizard.character.id, step: "clarify_skill_choices"), class: "btn"
  .span4.offset4= link_to t('common.start_from_scratch'), character_path(@wizard.character), class: "btn btn-danger", confirm: t('common.are_you_sure'), method: :delete
  .span2.offset1= link_to (@wizard.character.is_of_scholar_class_type? ?  t('common.next_step') : t('common.finish')),
  character_wizard_path(char_id: @wizard.character.id, step: "armament_picking"), method: :post, class: "btn btn-primary"
%br/
%br/
= content_for :javascripts do
  :coffeescript
    $(document).ready ->
      ArmamentPicking.init()