<p>Posiadasz: <%= humanize_purse_content(@character.purse.current) %>. Dodatkowo, tworząc postać, otrzymujesz swoisty
  rabat na zakup wyposażenia.
  Kwota zakupów nie może przekroczyć zawartości Twojej sakiewki powiększonej o bonus <strong>50g</strong> na Twoje
  wyposażenie.</p>

<p>Posiadasz biegłości w:</p>
<ul>
  <% @character.character_weapon_proficiencies.each do |c_w_p| %>
      <li><%= c_w_p.name %></li>
  <% end %>
</ul>


<p>Wybierz bronie:</p>

<%= form_tag(character_wizards_add_item_to_inventory_path, :remote => true) do %>
    <label>Wybierz grupę broni: </label><%= select_tag 'weapon_group', options_for_select(@weapon_groups) %><br/>

    <div id="weapons">
      <%= render :partial => 'weapons', :locals => {:weapons => @weapons} %>
    </div>
    <%= hidden_field_tag :char_id, @character.id %>
    <%= submit_tag "Kup!" %>
<% end %>



<script type="text/javascript">
    jQuery(function($) {
        $("#weapon_group").change(function() {
            var char_id = "<%= @character.id  %>";
            var weapon_group = $('select#weapon_group :selected').val();
            if (weapon_group == "") weapon_group = "0";
            jQuery.get('/character_wizards/update_weapons_select',  {'weapon_group': weapon_group, 'char_id': char_id}, function(data) {
                $("#weapons").html(data);
            })
            return false;
        });

    })


</script>