.container-fluid
  .row-fluid
    .span8
      %legend
        Tworząc postać, otrzymujesz swoisty rabat na zakup wyposażenia, w wysokości
        = succeed "." do
          %strong 50 złotych monet
        Sama
        kwota zakupów nie może przekroczyć zawartości Twojej sakiewki
        (#{humanize_purse_content(@wizard.character.purse.current)}) powiększonej o wspomniany bonus.
      %p Posiadasz biegłości w następujacych grupach broni:
      %ul
        - @wizard.character.character_weapon_proficiencies.each do |c_w_p|
          %li= c_w_p.name
    .span4
      %div
        = image_tag "sakiewka.gif", :width => "130"
        = succeed "Tyle" do
          %p#purse.fs_16= humanize_purse_content(@wizard.character.session[:coins_left])
        możesz
        maksymalnie wydać ;)
    .row-fluid
      = render :partial => "character_wizards/armament_stuff/picking_weapons_stuff"
    .row-fluid
      = render :partial => "character_wizards/armament_stuff/picking_armors_stuff"
    .row-fluid
      = render :partial => "character_wizards/armament_stuff/picking_shields_stuff"
    .row-fluid
      = render :partial => "character_wizards/armament_stuff/picking_ranged_weapons_stuff"
.row
  .span1= link_to "Wróć", character_wizard_path(:char_id => @wizard.character.id, :step => "clarify_skill_choices"), :class => "btn"
  .span4.offset4= link_to "Zacznij od początku", character_path(@wizard.character), :class => "btn btn-danger", :confirm => 'Napewno?', :method => :delete
  .span2.offset1= link_to (@wizard.character.is_of_scholar_class_type? ?  "Kolejny krok" : "Zakończ"), character_wizard_path(:char_id => @wizard.character.id, :step => "armament_picking"), :method => :post, :class => "btn btn-primary"
%br/
%br/
:javascript
  jQuery(document).ready(function () {
      $('select').val('');
  });

  jQuery(function ($) {
      $("#weapon_group").change(function () {
          var char_id = "#{@wizard.character.id}";
          var weapon_group = $('select#weapon_group :selected').val();
          if (weapon_group == "") weapon_group = "0";
          jQuery.get('/character_wizard/update_weapons_select', {'weapon_group':weapon_group, 'char_id':char_id}, function (data) {
              $("#weapons").html(data);
          })
          return false;
      });

      $("#armor_group").change(function () {
          var char_id = "#{@wizard.character.id}";
          var armor_group = $('select#armor_group :selected').val();
          if (armor_group == "") armor_group = "0";
          jQuery.get('/character_wizard/update_armors_select', {'armor_group':armor_group, 'char_id':char_id}, function (data) {
              $("#armors").html(data);
          })
          return false;
      });

      $("#shield_group").change(function () {
          var char_id = "#{@wizard.character.id}";
          var shield_group = $('select#shield_group :selected').val();
          if (shield_group == "") shield_group = "0";
          jQuery.get('/character_wizard/update_shields_select', {'shield_group':shield_group, 'char_id':char_id}, function (data) {
              $("#shields").html(data);
          })
          return false;
      });

      $("#ranged_weapon_group").change(function () {
          var char_id = "#{@wizard.character.id}";
          var ranged_weapon_group = $('select#ranged_weapon_group :selected').val();
          if (ranged_weapon_group == "") ranged_weapon_group = "0";
          jQuery.get('/character_wizard/update_ranged_weapons_select', {'ranged_weapon_group':ranged_weapon_group, 'char_id':char_id}, function (data) {
              $("#ranged_weapons").html(data);
          })
          return false;
      });

  })
