#char_id{'data-char-id' => @wizard.character.id}
%legend
  Określ prosze, w jakich broniach będziesz biegły.</legend
  %span.help-block
    %h4#skill_counter
      Liczba wolnych biegłości: #{@wizard.character.session[:weapon_class_preference_left]}
  %br/
  .container-fluid
    .row-fluid
      .span12
        - @wizard.instance_variable_get("@weapon_groups").each do |weapon_group|
          %label.checkbox
            = check_box_tag "weapon_proficiency", weapon_group, @wizard.character.character_weapon_proficiencies.detect { |wp| wp.name==weapon_group }, class: "append_to_form_and_submit"
            = weapon_group
  - if @wizard.character.skill_choices_to_be_precised.present?
    %br/
    %legend Ponadto musisz doprecyzować swoje wybory jeśli chodzi o drzewo umiejętności.
    - @wizard.character.skill_choices_to_be_precised.each do |choice_subject|
      %div{id: "choice_no_#{choice_subject.id}"}
        = form_tag({action: :set_skill_preference}, {remote: true, class: "simple_form form-horizontal"}) do
          = present_choice_subject(choice_subject)
          = hidden_field_tag :id, choice_subject.id
          = hidden_field_tag :char_id, @wizard.character.id
          = submit_tag t('submit.accept_choice')
      %br/
  %br/
  .row
    .span1= link_to t('common.go_back'), character_wizard_path(char_id: @wizard.character.id, step: "skills"), class: "btn"
    .span4.offset4= link_to t('common.start_from_scratch'), character_path(@wizard.character), class: "btn btn-danger", confirm: t('common.are_you_sure'), method: :delete
    .span2.offset1= link_to t('common.next_step'), character_wizard_path(char_id: @wizard.character.id, step: "clarify_skill_choices"), method: :post, class: "btn btn-primary"
= content_for :javascripts do
  :coffeescript
    $(document).ready ->
      ClarifySkillChoices.init()