<p class="fs_16" id="skill_counter">Określ proszę, w jakich broniach będziesz biegły. Liczba wolnych
  biegłości: <%= @wizard.character.session[:weapon_class_preference_left] %></p>
<br/><br/>
<ul>
  <% @wizard.instance_variable_get("@weapon_groups").each do |weapon_group| %>
      <li>
        <%= check_box_tag "weapon_proficiency", weapon_group, @wizard.character.character_weapon_proficiencies.detect { |wp| wp.name==weapon_group }, :onclick => "append_to_form_and_submit($(\"input[name='weapon_proficiency']\").filter(\"input[value='#{weapon_group}']\"))" %>
        <label><%= weapon_group %></label>
      </li>
  <% end %>
</ul>
<% if @wizard.character.skill_choices_to_be_precised.present? %>
    <br/><br/>
    <p class="fs_16">Ponadto musisz doprecyzować swoje wybory jeśli chodzi o drzewo umiejętności.</p>
    <% @wizard.character.skill_choices_to_be_precised.each do |choice_subject| %>
        <div id="choice_no_<%= choice_subject.id %>">
          <%= form_tag(set_skill_preference_character_wizard_path, :remote => true) do %>
              <%= present_choice_subject(choice_subject) %>
              <%= hidden_field_tag :id, choice_subject.id %>
              <%= hidden_field_tag :char_id, @wizard.character.id %>
              <%= submit_tag "Zaakceptuj wybór" %>
          <% end %>
        </div>
        <br/>
    <% end %>
<% end %>
<br/><br/><br/>
<%= button_link_to "Wróć", character_wizard_path(:char_id => @wizard.character.id, :step => "skills") %>
<%= button_link_to "Utwórz nową postać", character_path(@wizard.character), :confirm => 'Napewno?', :method => :delete, :class => "fltl position_left_60" %>
<%= button_link_to "Dalej", character_wizard_path(:char_id => @wizard.character.id, :step => "clarify_skill_choices"), :method => :post %>


<script type="text/javascript">
    function append_to_form_and_submit(checkbox) {
        var url = '<%= toggle_weapon_proficiency_character_wizard_path -%>';
        var data = {'name':checkbox.val(), 'value':checkbox.is(':checked'), 'char_id':'<%= @wizard.character.id -%>' };
        $.ajax({
            url:url,
            data:data,
            dataType:'script'
        });
    }
</script>
