<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <%= form_tag :url => character_wizard_path, :method => :post do %>
          <%= hidden_field_tag :char_id, @wizard.character.id %>
          <%= hidden_field_tag :step, "fightstyle" %>
          <legend>Wybierz styl walki.</legend>
          <span class="help-block">Pamiętaj, aby wybrać styl brutalny, parametr Siła musi być wyższy
          lub równy parametrowi Zręczność. I na odwrót, w przypadku stylu finezyjnego.</span>

          <% FightStyle.all.each do |style| %>
              <label class="radio inline">
                <%= radio_button_tag "fight_style_id", style.id, @wizard.character.fight_style_id, :disabled => (@wizard.character.profession.general_type=="rogue" && style.name=="Finezyjny") ? true : false %> <%= style.name %>
              </label>
          <% end %>

          <br/> <br/>

          <legend>Wybierz preferowaną taktykę walki.</legend>
          <span class="help-block">Wybór posłuży do poprawnego wypełnienia Twojej karty postaci.</span>

          <% WieldStyle.all.each do |style| %>
              <label class="radio">
                <%= radio_button_tag "wield_style_id", style.id, @wizard.character.wield_style_id %> <%= style.name %>
              </label>
          <% end %>


      <% end %>
      <br/>
      <div class="row">
        <div class="span1"><%= link_to "Wróć",   character_wizard_path(:char_id => @wizard.character.id, :step => "statistics"), :class => "btn" %></div>
        <div class="span4 offset2"><%= link_to "Utwórz nową postać", character_path(@wizard.character), :class => "btn", :confirm => 'Napewno?', :method => :delete %></div>
        <div class="span1 offset1"><%= link_to "Dalej", "javascript:void(0)", :class => "btn", :onclick => "proceed()" %></div>
      </div>

    </div>
    <div class="span6">
      <p>Zestawienie Twoich aktualnych parametrów wynikająca z pochodzenia, klasy społecznej i posiadanych bazowych
        umiejętności oraz tabela progów bonusowych.</p>

      <%= render :partial => 'character_wizards/skill_tables/main_stats_table' %>

      <!--#TODO ask Artur and pick one!-->
      <button class="btn" id="stats_qtip"> Pokaż tabelę progów</button>
      <a href="#" id="first_tooltip" data-toggle="tooltip">tabela progów on hover</a>

      <%= render :partial => "character_wizards/skill_tables/bonus_thresholds" %>

    </div>
  </div>
  <br/> <br/>

</div>


<script type="text/javascript">

    function proceed() {
        var fightsyles = $("input[name='fight_style_id']");
        var wieldstyles = $("input[name='wield_style_id']");
        if ((fightsyles.filter(':checked').length == 0) || (wieldstyles.filter(':checked').length == 0)) {
            alert("Musisz wybrać styl walki, zanim będziesz mógł przejść dalej.")
        } else {
            $("form").submit();
        }
    }

    $(document).ready(function() {
        $(function () {
            $("#stats_qtip").popover({
                offset: 10,
                placement: 'left',
                html: true,
                content: function() {
                    return $('#stats_qtip_table').html();
                }
            })

        })
    });

    $(document).ready(function() {
        $(function () {
            $("#first_tooltip").tooltip({
               html: true,
               title: function() {
                return $('#stats_qtip_table').html();
            }
            })

        })
    });



</script>
