<strong>Imię: </strong><%= @character.name %><br/>
<strong>Płeć: </strong><%= translate_gender(@character.gender) %><br/>
<%= raw display_curse_or_blessing(@character) %>
<br/><br/>
<strong>Profesja i pochodzenie: </strong>
<br/><br/>
<% form_tag  :url => first_step_character_wizard_path(:char_id => @character.id), :method => :post do %>

<label>Wybierz profesję: </label><%= select_tag 'professions', options_from_collection_for_select(@professions, "id", "name") %><br/>

    <div id="addressCountries">
      <%= render :partial => 'countries', :locals => {:countries => @countries} %>
    </div>
 <%= hidden_field_tag :char_id, @character.id %>
<% end %>

<br/><br/><br/><br/>

<div class="clear">
<%= button_link_to "Wróć", new_character_path(:char_id => @character.id), :class => "fltl" %>
<%= button_link_to "Dalej", "javascript:void(0)", :class => "fltr", :onclick => "submit_form_and_proceed()" %>
</div>


<script type="text/javascript">
    jQuery(function($) {
        // when the #country field changes
        $("#professions").change(function() {
            // make a POST call and replace the content
            var country = $('select#professions :selected').val();
            if (country == "") country = "0";
            jQuery.get('/character_wizards/update_countries_select/' + country, function(data) {
                $("#addressCountries").html(data);
            })
            return false;
        });

    })
    function submit_form_and_proceed() {

    $("form").submit();
    }

</script>

