<strong>Imię: </strong><%= @character.name %><br/>
<strong>Płeć: </strong><%= translate_gender(@character.gender) %><br/>
<%= raw display_curse_or_blessing(@character) %>
<br/><br/>
<strong>Profesja i pochodzenie: </strong>
<br/><br/>
<% form_tag :url => first_step_character_wizard_path(:char_id => @character.id), :method => :post do %>
<label>Wybierz profesję: </label><%= select_tag 'professions', options_from_collection_for_select(@professions, "id", "name") %><br/>

    <div id="addressCountries">
      <%= render :partial => 'countries', :locals => {:countries => @countries} %>
    </div>

<% end %>

<!--#TODO make a form that submits data, finish models used here, add buttons-->

<script type="text/javascript">
    jQuery(function($) {
        // when the #country field changes
        $("#professions").change(function() {
            // make a POST call and replace the content
            var country = $('select#professions :selected').val();
            if (country == "") country = "0";
            jQuery.get('/character_wizards/update_countries_select/' + country, function(data) {
                $("#addressCountries").html(data);
            })
            return false;
        });

    })
</script>