<strong>Parametry: </strong>
<br/><br/>
<p style="font-size: 16px">Twój najwyższy rzut został przyporządkowany do parametru wiodącego.</p>
<%= display_trait_warning_if_applicable(@wizard.character) %>
<p style="font-size: 16px">Ponadto rzut, który przyporządkowujesz Ogładzie <strong>nie może być nizszy</strong> niż nominalny, czyli: <%= @wizard.instance_variable_get("@stats").last %></p>
<div id="display_container" class="stats_area">
  <div class="dragArea">
    <br/>
    <table>
      <thead>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      </thead>
      <tbody>
      <tr>
        <% @wizard.instance_variable_get("@stats").each_with_index do |roll, index| %>
            <%= content_tag(:td, roll, :id => index, :class => "drag #{'position_left_60' if index==4}") %>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="dropArea">
    <table>
      <thead>
      <!--#TODO description of each skill as a qtip-->
      <th>S</th>
      <th>ZR</th>
      <th>WT</th>
      <th>INT</th>
      <th>WI</th>
      <th>O</th>
      </thead>
      <tbody>
      <tr>
       <%= statistics_picking_trs(@wizard) %>
      </tr>
      </tbody>
    </table>
  </div>
  <%= link_to_function "Resetuj pola", "reset_stat_fields()" %>
</div>
<br/>
<%= form_for @wizard.character.statistics, :url => character_wizard_path(:char_id => @character.id, :step => "picking_statistics"), :html => {:id => "stats_form", :method => :post} do |f| %>
    <%= f.hidden_field :strength %>
    <%= f.hidden_field :dexterity %>
    <%= f.hidden_field :endurance %>
    <%= f.hidden_field :intelligence %>
    <%= f.hidden_field :faith %>
    <%= f.hidden_field :polish %>
<% end %>

<%= button_link_to "Wróć", character_wizard_path(:char_id => @wizard.character.id, :step => "profession_and_origin_choices") %>
<%= button_link_to "Utwórz nową postać", character_path(@wizard.character), :confirm => 'Napewno?', :method => :delete, :class => "fltl position_left_60" %>
<%= button_link_to "Dalej", "javascript:void(0)", :onclick => "attach_choices_and_proceed()" %>

<script type="text/javascript">

    function reset_stat_fields() {
        $('.ui-draggable').show();
        $('.drop').not('.lead').text('');
    }

    function attach_choices_and_proceed() {
        $("#statistics_strength").val($("#strength").text());
        $("#statistics_dexterity").val($("#dexterity").text());
        $("#statistics_endurance").val($("#endurance").text());
        $("#statistics_intelligence").val($("#intelligence").text());
        $("#statistics_faith").val($("#faith").text());
        $("#statistics_polish").val($("#polish").text());
        $("#stats_form").submit();
    }

    function make_draggable() {
        $(".drag").draggable(
                {containment: "#display_container",revert: true,
                    revertDuration: 750});
    }


    function make_droppable() {
        $(".drop").droppable({
            accept: ".drag",
            hoverClass: "active",
            drop: function(event, props) {
                $(this).text($(props.draggable).text());
                $(props.draggable).hide();
            }
        });
    }
    $(function() {
        make_draggable();
        make_droppable();
    });

</script>