.container-fluid
  .row-fluid
    .span8
      = form_tag :url => character_wizard_path, :method => :post do
        = hidden_field_tag :char_id, @wizard.character.id
        = hidden_field_tag :step, "profession_and_origin_choices"
        %legend Wybierz parametr wiodący dla swojej postaci:
        = select_tag "main_skill", options_from_collection_for_select(fetch_possible_lead_parameters_choices(@wizard.character.character_profession), :name, :display_name)
        %legend Profity wynikające z klasy społecznej Twojej postaci:
        = social_class_perks(@wizard)
        %legend Profity wynikające z kraju pochodzenia i profesji Twojej postaci:
        %label
          %strong Domyślne dla tej postaci:
        - default = @wizard.character.default_origin_modifiers_set
        %label.radio
          = radio_button_tag "origin_stat_choices[#{default.id}]", "checked", true, :disabled => false
          = display_default_for_profession_and_origin(default).html_safe
        %br/
        - if choices = profession_and_origin_perks(@wizard) and choices.present?
          %legend Wymagające wyboru
          = choices
    .span4
      %legend Podstawowe informacje:
      %strong Imię:
      = @wizard.character.name
      %br/
      %strong Płeć:
      = translate_gender(@wizard.character.gender)
      %br/
      = raw display_curse_or_blessing(@wizard.character)
      %br/
      %strong Profesja:
      = @wizard.character.character_profession
      %br/
      %strong Pochodzenie:
      = @wizard.character.character_background.origin
      %br/
      %strong Klasa Społeczna:
      = @wizard.character.character_background.social_classes.first.name
      %br/
      %strong Sakiewka:
      = humanize_purse_content(@wizard.character.purse.starting)
      %br/
      %br/
%br/
.row
  / for various reasons there is no back button
  .span2.offset4= link_to "Zacznij od początku", character_path(@wizard.character), :class => "btn btn-danger", :confirm => 'Napewno?', :method => :delete
  .span2.offset3= link_to "Kolejny krok", "javascript:void(0)", :class => "btn btn-primary", id: 'next_step'
= content_for :javascripts do
  :coffeescript
    $(document).ready ->
      ProfessionAndOriginChoices.init()