<legend>Podstawowe informacje:</legend>

<strong>Imię: </strong><%= @wizard.character.name %><br/>
<strong>Płeć: </strong><%= translate_gender(@wizard.character.gender) %><br/>
<%= raw display_curse_or_blessing(@wizard.character) %>
<br/><br/>

<legend>Profesja i pochodzenie:</legend>

<%= form_tag({:url => character_wizard_path, :method => :post}, {:class => "simple_form form-horizontal" }) do %>
      <label>Wybierz profesję:</label>
      <%= select_tag 'professions', options_from_collection_for_select(@wizard.instance_variable_get("@professions"), "id", "name") %><br/>

    <div id="addressCountries">
      <%= render :partial => 'countries', :locals => {:countries => @wizard.instance_variable_get("@countries"), :profession => @wizard.instance_variable_get("@profession")} %>
    </div>

    <div id="addressDeities">
      <%= render :partial => 'deities', :locals => {:deities => @wizard.instance_variable_get("@deities")} %>
    </div>

    <%= hidden_field_tag :char_id, @wizard.character.id %>
    <%= hidden_field_tag :step, "profession_and_origin" %>

<% end %>

<br/><br/>

<div class="row">
  <div class="span1"><%= link_to "Wróć",  new_character_path(:char_id => @wizard.character.id), :class => "btn" %></div>
  <div class="span2 offset4"><%= link_to "Zacznij od początku", character_path(@wizard.character), :class => "btn btn-danger", :confirm => 'Napewno?', :method => :delete %></div>
  <div class="span1 offset4"><%= link_to "Dalej", "javascript:void(0)", :class => "btn", :onclick => "submit_form_and_proceed()" %></div>
</div>

<script type="text/javascript">
    jQuery(function ($) {
        // when the #country field changes
        $("#professions").change(function () {
            // make a POST call and replace the content
            var char_id = "<%= @wizard.character.id  %>";
            var profession = $('select#professions :selected').val();
            if (profession == "") profession = "0";
            jQuery.get('/character_wizard/update_countries_select', {'id':profession, 'char_id':char_id}, function (data) {
                $("#addressCountries").html(data);
            });
            return false;
        });

    });

    jQuery(function ($) {

        $("#countries").live('change', function() {

            var char_id = "<%= @wizard.character.id  %>";
            var country = $('select#countries :selected').val();
            var profession = $('select#professions :selected').val();
            if (country == "") country = "0";
            jQuery.get('/character_wizard/update_deities_select', {'id':country, 'char_id':char_id, 'profession_id':profession }, function (data) {
                $("#addressDeities").html(data);
            });
            return false;
        });

    });


    function submit_form_and_proceed() {
        $("form").submit();
    }

</script>

