<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
      <%= form_tag :url => character_wizard_path, :method => :post do %>
          <%= hidden_field_tag :char_id, @wizard.character.id %>
          <%= hidden_field_tag :step, "profession_and_origin_choices" %>

          <legend>Wybierz parametr wiodący dla swojej postaci:</legend>

          <%= select_tag "main_skill", options_from_collection_for_select(fetch_possible_lead_parameters_choices(@wizard.character.character_profession), :name, :display_name) %>
          <legend>Profity wynikające z klasy społecznej Twojej postaci:</legend>

          <%= social_class_perks(@wizard) %>

          <legend>Profity wynikające z kraju pochodzenia i profesji Twojej postaci:</legend>
          <label><strong>Domyślne dla tej postaci:</strong></label>

          <% default = @wizard.character.default_origin_modifiers_set %>
          <label class="radio">
            <%= radio_button_tag "origin_stat_choices[#{default.id}]", "checked", true, :disabled => false %>
            <%= display_default_for_profession_and_origin(default).html_safe %>
          </label>
          <br/>
          <% if choices = profession_and_origin_perks(@wizard) and choices.present? %>
              <legend>Wymagające wyboru</legend>
              <%= choices %>
          <% end %>
      <% end %>

    </div>
    <div class="span4">
      <legend>Podstawowe informacje:</legend>
      <strong>Imię: </strong><%= @wizard.character.name %>
      <br/>
      <strong>Płeć: </strong><%= translate_gender(@wizard.character.gender) %>
      <br/>
      <%= raw display_curse_or_blessing(@wizard.character) %>
      <br/>
      <strong>Profesja:</strong> <%= @wizard.character.character_profession %>
      <br/>
      <strong>Pochodzenie:</strong> <%= @wizard.character.character_background.origin %>
      <br/>
      <strong>Klasa Społeczna:</strong> <%= @wizard.character.character_background.social_classes.first.name %>
      <br/>
      <strong>Sakiewka:</strong> <%= humanize_purse_content(@wizard.character.purse.starting) %>
      <br/>
      <br/>
    </div>
  </div>
</div>

<br/>

<div class="row">
  <!--for various reasons there is no back button-->
  <div class="span2 offset4"><%= link_to "Zacznij od początku", character_path(@wizard.character), :class => "btn btn-danger", :confirm => 'Napewno?', :method => :delete %></div>
  <div class="span2 offset3"><%= link_to "Kolejny krok", "javascript:void(0)", :class => "btn btn-primary", :onclick => "submit_form_and_proceed()" %></div>
</div>


<script type="text/javascript">
    function submit_form_and_proceed() {
        $("form").submit();
    }
</script>

