<strong>Imię: </strong><%= @character.name %><br/>
<strong>Płeć: </strong><%= translate_gender(@character.gender) %><br/>
<%= raw display_curse_or_blessing(@character) %>
<br/>
<strong>Profesja:</strong> <%= @character.character_profession %><br/>
<strong>Pochodzenie:</strong> <%= @character.character_background.origin %><br/>
<strong>Klasa Społeczna:</strong> <%= @character.character_background.social_classes.first.name %><br/>
<strong>Sakiewka:</strong> <%= humanize_purse_content(@character.purse.cooper) %><br/>
<br/><br/>

<% form_tag :url => second_step_character_wizard_path(:char_id => @character.id), :method => :post do %>
    <%= hidden_field_tag :char_id, @character.id %>
    <h3>Wybierz parametr wiodący dla swojej postaci:</h3>
    <br/>
    <%= select_tag "main_skill", options_from_collection_for_select(fetch_possible_lead_parameters_choices(@character.character_profession), :name, :display_name) %>
    <h3>Wybierz profity wynikające z klasy społecznej Twojej postaci:</h3>   <br/>
    <!--#TODO move this spaghetti logic to a helper where it belongs...-->
    <% @character.social_class_stats_choices.each do |choice| %>
        <% if choice.stats_modifiers.size == 1 %>
            <label><strong><%= choice.stats_modifiers.first.group_name.humanize %></strong></label>
            <%= radio_button_tag choice.stats_modifiers.first.group_name, choice.stats_modifiers.first.group_name, true, :disabled => true %><br/>
            <ul>
              <li><%= display_choice_part(choice.stats_modifiers.first) %></li>
            </ul>
        <% else %>
            <% stats = choice.stats_modifiers.to_set.classify { |stat| stat.group_name.humanize } %>
            <% stats.each do |group_name, choice_parts| %>
                <label><strong><%= group_name %></strong></label><%= radio_button_tag "stat_choice", group_name %><br/>
                <ul>
                  <% choice_parts.each do |choice_part| %>
                      <li><%= display_choice_part(choice_part) %></li>
                  <% end %>
                </ul>
            <% end %>
        <% end %>
    <% end %>
    <h3>Wybierz profity wynikające z kraju pochodzenia i profesji Twojej postaci:</h3>   <br/>
    <label><strong>Domyślne:</strong></label>
    <%= radio_button_tag "checked", "checked" , true,  :disabled => true %>
    <ul>
      <%= display_default_for_profession_and_origin(@character).html_safe %>
      <!--#TODO special ones-->
      <br/>
    </ul>
<% end %>




<br/><br/>
<%= button_link_to "Wróć", first_step_character_wizard_path(:char_id => @character.id) %>
<%= button_link_to "Dalej", "javascript:void(0)", :class => "fltr", :onclick => "submit_form_and_proceed()" %>


<script type="text/javascript">
    function submit_form_and_proceed() {
        $("form").submit();
    }
</script>

