<strong>Imię: </strong><%= @character.name %><br/>
<strong>Płeć: </strong><%= translate_gender(@character.gender) %><br/>
<%= raw display_curse_or_blessing(@character) %>
<br/>
<strong>Profesja:</strong> <%= @character.character_profession %><br/>
<strong>Pochodzenie:</strong> <%= @character.character_background.origin %><br/>
<strong>Klasa Społeczna:</strong> <%= @character.character_background.social_classes.first.name %><br/>
<strong>Sakiewka:</strong> <%= humanize_purse_content(@character.purse.cooper) %><br/>
<br/><br/>

<%= form_tag :url => second_step_character_wizard_path(:char_id => @character.id), :method => :post do %>
    <%= hidden_field_tag :char_id, @character.id %>
    <h3>Wybierz parametr wiodący dla swojej postaci:</h3>
    <br/>
    <%= select_tag "main_skill", options_from_collection_for_select(fetch_possible_lead_parameters_choices(@character.character_profession), :name, :display_name) %>
    <h3>Wybierz profity wynikające z klasy społecznej Twojej postaci:</h3>   <br/>
    <!--#TODO move this spaghetti logic to a helper where it belongs...-->
    <% @character.social_class_stats_choices.each do |choice| %>
        <% if choice.stats_modifiers.size == 1 %>
            <%= render :partial => 'single', :locals => {:stats_modifier => choice.stats_modifiers.first, :radio_group => "social_stat_choices[#{choice.id}]"} %>
        <% else %>
            <%= render :partial => 'choices', :locals => {:stats => choice.stats_modifiers.to_set.classify { |stat| stat.group_name.humanize }, :radio_group => "social_stat_choices[#{choice.id}]"} %>
        <% end %>
    <% end %>
    <h3>Wybierz profity wynikające z kraju pochodzenia i profesji Twojej postaci:</h3>   <br/>
    <label><strong>Domyślne:</strong></label>
    <% default = @character.default_origin_modifiers_set %>
    <%= radio_button_tag "origin_stat_choices[#{default.id}]", "checked", true, :disabled => false %>
    <ul>
      <%= display_default_for_profession_and_origin(default).html_safe %> </ul>
    <br/>
    <% choices_for_profession_and_origin(@character).each do |choice| %>
        <% if applies?(@character.social_class, choice) %>
            <% _choice = choice.stats_modifiers.map(&:group_name) - @profession_skillset %>
            <% if _choice.blank? %>
                <%= render :partial => 'single', :locals => {:stats_modifier => StatsModifier.default, :radio_group => "origin_stat_choices[#{choice.id}]"} %>
            <% elsif _choice.size == 1 %>
                <%= render :partial => 'single', :locals => {:stats_modifier => choice.stats_modifiers.select{|sm| sm.group_name==_choice.first}.first, :radio_group => "origin_stat_choices[#{choice.id}]"} %>
            <% elsif _choice.size > 1  %>
                <%= render :partial => 'choices', :locals => {:stats => choice.stats_modifiers.to_set.classify { |stat| stat.group_name.humanize }, :radio_group => "origin_stat_choices[#{choice.id}]"} %>
            <% end %>
        <% end %>
    <% end %>
<% end %>


<br/><br/>
<%= button_link_to "Wróć", first_step_character_wizard_path(:char_id => @character.id) %>
<%= button_link_to "Utwórz nową postać", character_path(@character), :confirm => 'Napewno?', :method => :delete, :class => "fltl position_left_60" %>
<%= button_link_to "Dalej", "javascript:void(0)", :class => "fltr", :onclick => "submit_form_and_proceed()" %>


<script type="text/javascript">
    function submit_form_and_proceed() {
        $("form").submit();
    }
</script>

