<div class="row">
  <div class="span1"><%= link_to "Wróć", character_wizard_path(:char_id => @character.id, :step => "fightstyle"), :class => "btn" %></div>
  <div class="span4 offset4"><%= link_to "Zacznij od początku", character_path(@wizard.character), :class => "btn btn-danger", :confirm => 'Napewno?', :method => :delete %></div>
  <div class="span1 offset2"><%= link_to "Dalej", character_wizard_path(:char_id => @character.id, :step => "skills"), :method => :post, :class => "btn" %></div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <%= render :partial => "character_wizards/skill_tables/main_stats_table" %>
      <%= render :partial => "character_wizards/skill_tables/profession_skills" %>
      <%= render :partial => "character_wizards/skill_tables/skills_left" %>
    </div>
    <div class="span6">
      <%= render :partial => "character_wizards/skill_tables/auxiliary_parameters" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <%= render :partial => "character_wizards/skill_tables/main_skills" %>
      <%= render :partial => "character_wizards/skill_tables/caste_skills" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span1"><%= link_to "Wróć", character_wizard_path(:char_id => @character.id, :step => "fightstyle"), :class => "btn" %></div>
  <div class="span4 offset4"><%= link_to "Zacznij od początku", character_path(@wizard.character), :class => "btn btn-danger", :confirm => 'Napewno?', :method => :delete %></div>
  <div class="span1 offset2"><%= link_to "Dalej", character_wizard_path(:char_id => @character.id, :step => "skills"), :method => :post, :class => "btn" %></div>
</div>


<%= render :partial => "character_wizards/skill_tables/bonus_thresholds" %>

<script type="text/javascript">

    function toggle_this_skill(val) {
        var skill_id = $(val).attr('id');
        var field_value = val.checked;
        var char_id = "<%= @wizard.character.id -%>";
        var url = '<%= toggle_skill_character_wizard_path -%>';
        var data = {'skill_id':skill_id, 'value':field_value, 'char_id':char_id };
        $.ajax({
            url:url,
            data:data,
            dataType:'script'
        });
    }

    $(document).ready(function () {
        $('a.skill_qtip').tooltip(
                {html: true,
                placement: 'right'}
        );
    });

</script>

