<legend id="spell_counter">Do wybrania pozostało: <%= @wizard.instance_variable_get("@scribe").spells_left %>zaklęć
</legend>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <% @wizard.instance_variable_get("@scribe").class_spells.each do |spell| %>
          <label class="checkbox">
            <%= check_box_tag spell.id, 1, @wizard.instance_variable_get("@scribe").character_spellbook.spells.include?(spell),
                              :disabled => @wizard.instance_variable_get("@scribe").character_spellbook.randomly_drawn_spells.include?(spell.id),
                              :onchange => "toggle_this_spell(this);" %>
            <%= spell.name %>
          </label>
      <% end %>
    </div>
  </div>
</div>


<br/><br/>


<div class="row">
  <div class="span1"><%= link_to "Wróć", character_wizard_path(:char_id => @wizard.character.id, :step => "armament_picking"), :class => "btn" %></div>
  <div class="span4 offset4"><%= link_to "Utwórz nową postać", character_path(@wizard.character), :class => "btn", :confirm => 'Napewno?', :method => :delete %></div>
  <div class="span1 offset2"><%= link_to "Zakończ", character_wizard_path(:char_id => @wizard.character.id, :step => "spells"), :method => :post, :class => "btn" %></div>
</div>



<script type="text/javascript">
    function toggle_this_spell(val) {
        var spell_id = $(val).attr('id');
        var field_value = val.checked;
        var char_id = "<%= @wizard.character.id -%>";
        var url = '<%= toggle_spell_character_wizard_path -%>';
        var data = {'spell_id':spell_id, 'value':field_value, 'char_id':char_id };
        $.ajax({
            url:url,
            data:data,
            dataType:'script'
        });
    }
</script>

