#char_id{'data-char-id' => @wizard.character.id}
%legend#spell_counter
  Zaklęć pozostałych do wybrania: #{@wizard.instance_variable_get("@scribe").spells_left}
.container-fluid
  .row-fluid
    .span12
      - @wizard.instance_variable_get("@scribe").class_spells.each do |spell|
        %label.checkbox
          = check_box_tag spell.id, 1, @wizard.instance_variable_get("@scribe").character_spellbook.spells.include?(spell),
          disabled: @wizard.instance_variable_get("@scribe").character_spellbook.randomly_drawn_spells.include?(spell.id),
          class: "toggle_this_spell"
          = spell.name
%br/
%br/
.row
  .span1= link_to t('common.go_back'), character_wizard_path(char_id: @wizard.character.id, step: "armament_picking"), class: "btn"
  .span4.offset4= link_to t('common.start_from_scratch'), character_path(@wizard.character), class: "btn btn-danger", confirm: t('common.are_you_sure'), method: :delete
  .span1.offset2= link_to t('common.finish'), character_wizard_path(char_id: @wizard.character.id, step: "spells"), method: :post, class: "btn btn-primary"
= content_for :javascripts do
  :coffeescript
    $(document).ready ->
      Spells.init()