<strong>Parametry: </strong>
<br/><br/>
<p style="font-size: 16px">Twój najwyższy rzut został przyporządkowany do parametru wiodącego.</p>
<%= display_trait_warning_if_applicable(@wizard.character) %>
<p style="font-size: 16px">Ponadto rzut, który przyporządkowujesz Ogładzie <strong>nie może być nizszy</strong> niż
  nominalny, czyli: <%= @wizard.instance_variable_get("@stats").last %></p>
<div id="display_container" class="stats_area">
  <div class="dragArea">
    <br/>
    <table>
      <thead>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      </thead>
      <tbody>
      <tr>
        <% @wizard.instance_variable_get("@stats").each_with_index do |roll, index| %>
            <%= content_tag(:td, roll, :id => index, :class => "drag #{'position_left_60' if index==4}") %>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="dropArea">
    <table>
      <thead>
      <!--#IDEA: description of each skill as a qtip-->
      <th>S</th>
      <th>ZR</th>
      <th>WT</th>
      <th>INT</th>
      <th>WI</th>
      <th>O</th>
      </thead>
      <tbody>
      <tr>
        <%= statistics_picking_trs(@wizard) %>
      </tr>
      </tbody>
    </table>
  </div>
  <%= link_to_function "Resetuj pola", "reset_stat_fields()" %>
</div>
<br/>

<div id="user_stats_form">
  <%= form_for @wizard.character.statistics, :url => character_wizard_path(:char_id => @character.id, :step => "statistics"), :html => {:id => "user_stats_form", :method => :post} do |f| %>
      <%= f.hidden_field :strength %>
      <%= f.hidden_field :dexterity %>
      <%= f.hidden_field :endurance %>
      <%= f.hidden_field :intelligence %>
      <%= f.hidden_field :faith %>
      <%= f.hidden_field :polish %>
  <% end %>
</div>


<div class="row">
  <div class="span1"><%= link_to "Wróć", character_wizard_path(:char_id => @wizard.character.id, :step => "profession_and_origin_choices"), :class => "btn" %></div>
  <div class="span2 offset4"><%= link_to "Utwórz nową postać", character_path(@wizard.character), :class => "btn", :confirm => 'Napewno?', :method => :delete %></div>
  <div class="span1 offset4"><%= link_to "Dalej", "javascript:void(0)", :class => "btn", :onclick => "attach_choices_and_proceed()" %></div>
</div>


<br/><br/>
<% if current_user.admin? %>
    <fieldset>
      <label class="checkbox"><%= check_box_tag :admin, 'yes', false, :onchange => "$('#admin_stats_form').toggle();" %>
        Jestem adminem i chce ustawić rzuty ręcznie </label>
    </fieldset>
<% end %>
<br/> <br/>


<div id="admin_stats_form" style="display: none;">
  <%= simple_form_for @wizard.character.statistics, :url => character_wizard_path(:char_id => @character.id, :step => "statistics"), :html => {:class => 'form-horizontal', :id => "admin_stats_form", :method => :post} do |f| %>
      <%= f.input :strength, :input_html => {},
                  :label => "Siła" %>
      <%= f.input :dexterity, :input_html => {},
                  :label => "Zręczność" %>
      <%= f.input :endurance, :input_html => {},
                  :label => "Wytrzymałość" %>
      <%= f.input :intelligence, :input_html => {},
                  :label => "Inteligencja" %>
      <%= f.input :faith, :input_html => {},
                  :label => "Wiara" %>
      <%= f.input :polish, :input_html => {},
                  :label => "Ogłada" %>
      <%= f.submit "Zapisz",  :class => 'btn-primary offset3'%>
  <% end %>
</div>


<script type="text/javascript">

    function reset_stat_fields() {
        $('.ui-draggable').show();
        $('.drop').not('.lead').text('');
    }

    function attach_choices_and_proceed() {
        $("div#user_stats_form #statistics_strength").val($("#strength").text());
        $("div#user_stats_form #statistics_dexterity").val($("#dexterity").text());
        $("div#user_stats_form #statistics_endurance").val($("#endurance").text());
        $("div#user_stats_form #statistics_intelligence").val($("#intelligence").text());
        $("div#user_stats_form #statistics_faith").val($("#faith").text());
        $("div#user_stats_form #statistics_polish").val($("#polish").text());
        $("div#user_stats_form #user_stats_form").submit();
    }

    function make_draggable() {
        $(".drag").draggable(
                {containment:"#display_container", revert:true,
                    revertDuration:750});
    }


    function make_droppable() {
        $(".drop").droppable({
            accept:".drag",
            hoverClass:"active",
            drop:function (event, props) {
                $(this).text($(props.draggable).text());
                $(props.draggable).hide();
            }
        });
    }
    $(function () {
        make_draggable();
        make_droppable();
    });

</script>