<strong>Parametry: </strong>
<br/><br/>
<p style="font-size: 16px">Twój najwyższy rzut został przyporządkowany do parametru wiodącego.</p>
<p style="font-size: 16px">Ponadto, rzut który przyporządkowujesz Ogładzie <strong>nie może być nizszy</strong> niż nominalny, czyli: <%= @stats.last %></p>
<div id="display_container" class="stats_area">
  <div class="dragArea">
    <br/>
    <table>
      <thead>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      </thead>
      <tbody>
      <tr>
        <% @stats.each_with_index do |roll, index| %>
            <%= content_tag(:td, roll, :id => index, :class => "drag") %>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="dropArea">
    <table>
      <thead>
      <th>S</th>
      <th>ZR</th>
      <th>WT</th>
      <th>INT</th>
      <th>WI</th>
      <th>O</th>
      </thead>
      <tbody>
      <tr>
        <td>
          <div id="strength" class="drop <%= "lead" if @character.lead_parameter=="S"%>"><%= @lead_parameter if @character.lead_parameter=="S" %></div>
        </td>
        <td>
          <div id="dexterity" class="drop <%= "lead" if @character.lead_parameter=="ZR"%>"><%= @lead_parameter if @character.lead_parameter=="ZR" %></div>
        </td>
        <td>
          <div id="endurance" class="drop <%= "lead" if @character.lead_parameter=="WT"%>"><%= @lead_parameter if @character.lead_parameter=="WT" %></div>
        </td>
        <td>
          <div id="inteligence" class="drop <%= "lead" if @character.lead_parameter=="INT"%>"><%= @lead_parameter if @character.lead_parameter=="INT" %></div>
        </td>
        <td>
          <div id="faith" class="drop <%= "lead" if @character.lead_parameter=="WI"%>"><%= @lead_parameter if @character.lead_parameter=="WI" %></div>
        </td>
        <td>
          <div id="polish" class="drop <%= "lead" if @character.lead_parameter=="O"%>"><%= @lead_parameter if @character.lead_parameter=="O" %></div>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
  <%= link_to_function "Resetuj pola", "reset_stat_fields()" %>
</div>
<br/>
<%= form_for @character.statistics, :url => third_step_character_wizard_path(:char_id => @character.id), :html => {:id => "stats_form", :method => :post} do |f| %>
    <%= f.hidden_field :strength %>
    <%= f.hidden_field :dexterity %>
    <%= f.hidden_field :endurance %>
    <%= f.hidden_field :inteligence %>
    <%= f.hidden_field :faith %>
    <%= f.hidden_field :polish %>
<% end %>

<%= button_link_to "Wróć", second_step_character_wizard_path(:char_id => @character.id) %>
<%= button_link_to "Dalej", "javascript:void(0)", :onclick => "attach_choices_and_proceed()" %>

<script type="text/javascript">

    function reset_stat_fields() {
        $('.ui-draggable').show();
        $('.drop').not('.lead').text('');
    }

    function attach_choices_and_proceed() {
        $("#statistics_strength").val($("#strength").text());
        $("#statistics_dexterity").val($("#dexterity").text());
        $("#statistics_endurance").val($("#endurance").text());
        $("#statistics_inteligence").val($("#inteligence").text());
        $("#statistics_faith").val($("#faith").text());
        $("#statistics_polish").val($("#polish").text());
        $("#stats_form").submit();
    }

    function make_draggable() {
        $(".drag").draggable(
                {containment: "#display_container",revert: true,
                    revertDuration: 750});
    }


    function make_droppable() {
        $(".drop").droppable({
            accept: ".drag",
            hoverClass: "active",
            drop: function(event, props) {
                $(this).text($(props.draggable).text());
                $(props.draggable).hide();
            }
        });
    }
    $(function() {
        make_draggable();
        make_droppable();
    });

</script>