<!DOCTYPE html>
<html>
<head>
  <title>CharMaker</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.qtip.min.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class=templateholder>
  <div class=Layout8_header>
    <div id="user_nav" class="fltr">
      <% if user_signed_in? %>
          Zalogowany jako <%= current_user.email %>. To nie Ty?
          <%= link_to "Wyloguj", destroy_user_session_path, :method => :delete %>
      <% else %>
          <%= link_to "Zarejestruj się", new_user_registration_path %> lub
          <%= link_to "Zaloguj", new_user_session_path %>
      <% end %>
    </div>
    <div id="spinner" style="display:none;" class="fs_16 normal">
      <img alt="Spinner" src="/images/ajax-loader.gif"> Chwileczkę, pracuję...
    </div>
  </div>
  <div class=Layout8_1>
    <div id="page">
      <% if flash[:alert] %>
          <p class="flash-error"><%= flash[:alert] %></p>
      <% end %>
      <% if flash[:notice] %>
          <p class="flash-notice"><%= flash[:notice] %></p>
      <% end %>
    </div><%= yield %></div>
  <div class=Layout8_2></div>
  <div class=Layout8_3></div>
  <div class=Layout8_4></div>
  <div class=Layout8_5></div>
</div>

<!--<%#= render :partial => "javascripts" %>-->

</body>
</html>



